if SHIELD_ZESTY_LEFT

config ZMK_KEYBOARD_NAME
    default "Zesty"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZESTY_LEFT || SHIELD_ZESTY_RIGHT

config ZMK_SPLIT
    default y

endif