#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "helper.h"
#include "zesty32keys.h"
#include "german.dtsi"

/* layer and key shortcuts */

#define ___ &trans

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define NAV 1
#define SYM 2
#define GER 3

/* custom behaviors */

// homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

// tap: sticky shift | double tap: capsword
ZMK_BEHAVIOR(ss_cw, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHFT>, <&caps_word>;
)

// tap: backspace | shift + tap: delete | hold: sym layer
ZMK_BEHAVIOR(bs_del_sym, mod_morph,
    bindings = <&lt SYM BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// windows sleep macro
ZMK_BEHAVIOR(win_sleep, macro,
    wait-ms = <100>;
    tap-ms = <5>;
    bindings = <&kp LG(X) &kp U &kp S>;
)

// euro sign
ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C)  // €

// replace a/o/u/s with German umlauts when NAV and SYM are held jointly
ZMK_CONDITIONAL_LAYER(NAV SYM, GER)

// combos
#undef COMBO_TERM
#define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)
ZMK_COMBO(combo_sleep,  &win_sleep, RT2 RT3, NAV)  // custom sleep macro, only active on NAV layer
ZMK_COMBO(combo_copy,   &kp LC(C),  LB2 LB3, ALL)  // Ctrl + C, active on all layers
ZMK_COMBO(combo_paste,  &kp LC(V),  LB1 LB2, ALL)  // Ctrl + V, active on all layers

/* keymap */

ZMK_LAYER(default_layer,
     //               ╭─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────╮
                        &kp W         &kp F         &kp P         &kp B                                       &kp K         &kp L         &kp U         &kp Y        
     // ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
          &hrm LGUI Q   &hrm LALT A   &hrm LCTRL R  &kp S         &hrm LSHFT T  &kp G           &kp M         &hrm RSHFT N  &hrm RCTRL E  &hrm RALT I   &hrm RGUI O   &kp APOS
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╯ ╰─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        &kp X         &kp C         &kp D         &kp V                                       &kp J         &kp H         &kp COMMA     &kp DOT      
     //               ╰─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────╯
                                                                  &lt NAV TAB   &kp SPACE       &kp BSPC      &kp RET                    
     //                                                         ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_LAYER(nav_layer,
     //               ╭─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────╮
                        &kp W         &kp F         &kp P         &kp B                                       &kp J         &kp L         &kp U         &kp Y        
     // ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
          &hrm LGUI A   &hrm LALT R   &hrm LCTRL S  &hrm LSHFT T  &kp G         &kp M           &lt SYM       &hrm RSHFT N  &hrm LCTRL E  &hrm LALT I   &hrm LGUI O   ___
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╯ ╰─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        &kp X         &kp C         &kp D         &kp V                                       &kp K         &kp H         &kp COMMA     &kp DOT      
     //               ╰─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────╯
                                                                  &lt NAV SPACE &kp TAB         &kp BSPC      &kp ENTER                    
     //                                                         ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_LAYER(sym_layer,
     //               ╭─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────╮
                        &kp AT        &kp HASH      &kp DLLR      &kp PRCNT                                   &kp N7        &kp N8        &kp N9        &kp COMMA        
     // ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
          &kp EXCL      &kp PLUS      &kp EQUAL     &kp UNDER     &kp MINUS     &kp CARET       &kp N0        &kp N4        &kp N5        &kp N6        &kp DOT       &kp SEMI
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╯ ╰─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        ___           &kp QMARK     &kp STAR      &kp AMPS                                    &kp N1        &kp N2        &kp N3        &kp FSLH      
     //               ╰─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────╯
                                                                  &lt NAV SPACE &kp TAB         ___           &kp RALT                    
     //                                                         ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_LAYER(german_layer,
     //               ╭─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────╮
                        &kp W         &kp F         &kp P         &kp B                                       &kp J         &kp L         &kp U         &kp Y        
     // ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
          &hrm LGUI A   &hrm LALT R   &hrm LCTRL S  &hrm LSHFT T  &kp G         &kp M           ___           &hrm RSHFT N  &hrm LCTRL E  &hrm LALT I   &hrm LGUI O   ___
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╯ ╰─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        &kp X         &kp C         &kp D         &kp V                                       &kp K         &kp H         &kp COMMA     &kp DOT      
     //               ╰─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────╯
                                                                  &lt NAV SPACE &kp TAB         ___           ___                    
     //                                                         ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)